<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="AutoCrane">
  
  
  <gazebo>
    <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so"/>
  </gazebo>
  

    <gazebo reference="base_link">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="arm">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="slidder">
        <material>Gazebo/DarkGrey</material>
    </gazebo>

    <gazebo reference="gripper">
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="camera_1">
        <material>Gazebo/BlueGlow</material>
    </gazebo>
    
    <gazebo reference="imu">
      <sensor type="imu" name="imu">
        <always_on>true</always_on>
        <visualize>true</visualize>
      </sensor>
      <material>Gazebo/FlatBlack</material>
    </gazebo>
    
    <gazebo>
        <plugin name="imu_plugin" filename="libgazebo_ros_imu.so">
          <alwaysOn>true</alwaysOn>
          <bodyName>imu</bodyName>  
          <frameName>imu</frameName>
          <topicName>imu</topicName>
          <serviceName>imu_service</serviceName>
          <gaussianNoise>0.0</gaussianNoise>
          <updateRate>0</updateRate>
          <imu>
            <noise>
              <type>gaussian</type>
              <rate>
                <mean>0.0</mean>
                <stddev>2e-4</stddev>
                <bias_mean>0.0000075</bias_mean>
                <bias_stddev>0.0000008</bias_stddev>
              </rate>
              <accel>
                <mean>0.0</mean>
                <stddev>1.7e-2</stddev>
                <bias_mean>0.1</bias_mean>
                <bias_stddev>0.001</bias_stddev>
              </accel>
            </noise>
          </imu>
        </plugin>
      </gazebo>

    <gazebo reference="camera_1">
      <sensor name="camera_1_camera" type="depth">
        <update_rate>20</update_rate>
        <camera>
          <horizontal_fov>1.047198</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3</far>
          </clip>
        </camera>
        <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>camera_1</cameraName>
          <imageTopicName>/camera1/color/image_raw</imageTopicName>
          <cameraInfoTopicName>/camera1/color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>/camera1/depth/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>/camera1/depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudTopicName>/camera1/depth/points</pointCloudTopicName>
          <frameName>camera_1</frameName>
          <pointCloudCutoff>0.5</pointCloudCutoff>
          <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
          <distortionK1>0</distortionK1>
          <distortionK2>0</distortionK2>
          <distortionK3>0</distortionK3>
          <distortionT1>0</distortionT1>
          <distortionT2>0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <focalLength>0</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>

    <gazebo reference="camera_2">
      <sensor name="camera_2_camera" type="depth">
        <update_rate>20</update_rate>
        <camera>
          <horizontal_fov>1.047198</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
            <format>R8G8B8</format>
          </image>
          <clip>
            <near>0.05</near>
            <far>3</far>
          </clip>
        </camera>
        <plugin name="camera_plugin" filename="libgazebo_ros_openni_kinect.so">
          <baseline>0.2</baseline>
          <alwaysOn>true</alwaysOn>
          <updateRate>0.0</updateRate>
          <cameraName>camera_2</cameraName>
          <imageTopicName>/camera2/color/image_raw</imageTopicName>
          <cameraInfoTopicName>/camera2/color/camera_info</cameraInfoTopicName>
          <depthImageTopicName>/camera2/depth/image_raw</depthImageTopicName>
          <depthImageCameraInfoTopicName>/camera2/depth/camera_info</depthImageCameraInfoTopicName>
          <pointCloudTopicName>/camera2/depth/points</pointCloudTopicName>
          <frameName>camera_2</frameName>
          <pointCloudCutoff>0.5</pointCloudCutoff>
          <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
          <distortionK1>0</distortionK1>
          <distortionK2>0</distortionK2>
          <distortionK3>0</distortionK3>
          <distortionT1>0</distortionT1>
          <distortionT2>0</distortionT2>
          <CxPrime>0</CxPrime>
          <Cx>0</Cx>
          <Cy>0</Cy>
          <focalLength>0</focalLength>
          <hackBaseline>0</hackBaseline>
        </plugin>
      </sensor>
    </gazebo>


</robot> 