# Simulation settings for using moveit_sim_controllers
moveit_sim_hw_interface:
  joint_model_group: gripper_group
  joint_model_group_pose: home
# Settings for ros_control_boilerplate control loop
generic_hw_control_loop:
  loop_hz: 300
  cycle_time_error_threshold: 0.01
# Settings for ros_control hardware interface
hardware_interface:
  joints:
    - base_arm
    - arm_slider
    - slider_gripper
  sim_control_mode: 0  # 0: position, 1: velocity
# Publish all joint states
# Creates the /joint_states topic necessary in ROS
joint_state_controller:
  type: joint_state_controller/JointStateController
  publish_rate: 50
controller_list:
  [base_arm, arm_slider, slider_gripper]
joint_state_controller:
  type: effort_controllers/JointPositionController
  joint:  base_arm
  pid: {p: 0.3, i: 1.0, d: 1.0}
joint_state_controller:
  type: effort_controllers/JointPositionController
  joint:  arm_slider
  pid: {p: 0.3, i: 1.0, d: 1.0}
joint_state_controller:
  type: effort_controllers/JointPositionController
  joint:  slider_gripper
  pid: {p: 0.3, i: 1.0, d: 1.0}